* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background: black;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}
.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin-left: 35px;
}
.navbar .nav-links a {
    text-decoration: none;
    color: #c9dfff;
    font-size: 14px;
    transition: 0.3s;
}
.navbar .nav-links a:hover {
    color: #56baf9;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    height: 80vh;
}
.content-text {
    max-width: 45%;
}
.content-text .intro {
    font-size: 20px;
    margin-bottom: 10px;
}
.content-text .intro span {
    color: #57bffc;
}
.content-text h1 {
    font-size: 55px;
    color: #55b2ff;
    margin-bottom: 20px;
}

.content-text .detail {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #d1e9ff;
}


.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #55b2ff;
    transition: 0.3s;
}

.btn.hire {
    background: black;
    color: #55b2ff;
}
.btn.hire:hover {
    background: #55b2ff;
    color: black;
}

.btn.view {
    background: #55b2ff;
    color: black;
}

.btn.view:hover {
    background: transparent;
    color: #55b2ff;
}
.picture {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glow-circle {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    background: linear-gradient(circle, #000000 40%, #15324e 100%);
    position: relative;
}
.glow-circle::before {
    content: "";
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 8px solid #d4f3ff;
    box-shadow: 0 0 25px #c8f3ff, 0 0 40px #7dd2ff, inset 0 0 20px #8ee2ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-img {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit:fill;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}